body {
	background: linear-gradient(to bottom, #00ccff 38%, #336699 73%);
	margin:0;
}

.wrapper {
    margin-right: auto; /* 1 */
    margin-left:  auto; /* 1 */

    max-width: 1000px; /* 2 */
    max-height: 1100px;

    padding-right: 10px; /* 3 */
    padding-left:  10px; /* 3 */
    background-image: url('/home/quirky30/project_website/images/bg.jpg');
    background-repeat: no-repeat;
    background-size: 110%;
}


nav {
	width: 100%;
	padding-top: 0;
	overflow: hidden;
	position: fixed;
	margin-top: 0px;

}

ul {
	list-style: none; 
	float: right;
	background-color: rgba(0,0,0,0.6);
	width: 100%;
	margin-top: 0px;
	height: 100px;
}

li {
	padding: 20px 15px;
	margin: 15px 40px;
	font-size: 15px;
	display: inline-block;
	float: right;
	color: white;
	text-decoration: none;
}

.column {
	float: left;
	width: 250px;	
	height: 400px;
	padding: 20px;
	margin: 0 20px;
	text-align: center;
}


#ph {
	background-color: deepskyblue;
	color: white;
	font-size: 20px;
	text-align: center;
	padding-top: 0.5px;
	height: 80px;
	margin-top: 25px;
}

#note {
	background-color: deepskyblue;
	color: white;
	font-size: 15px;
	text-align: center;
	margin-top: 100px 10px 0 0;
	padding: 5px;
	font-family: 'Arial';
	text-decoration-line: none;
}

#logo {
	height: 100px; 
	width: 500px;
	margin-left: 20px;
	overflow: hidden;
	position: fixed;
}

.link {
  transition: 0.4s;
  color: orangered;
  font-size: 20px;
  text-decoration: none;
  padding: 0px;
  margin: 0px;
  float: right;
}
.link:hover {
  background-color: orangered;
  color: #EEA200;
  padding: 5px;
}


abbr {
	text-decoration-line: none;
}

a {
	text-decoration-line: none;
	color: black;
}

